<div class="column-layout group">
  <h5 class="h5">
    Auction View
  </h5>
  <div class="row-layout group_1">
    <igx-card class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          User 1
        </h3>
        <h5 igxCardHeaderSubtitle>
          Auction Live Value
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <igx-input-group type="border" class="input">
          <input type="number" placeholder="0.0" igxInput />
          <label igxLabel>Price</label>
        </igx-input-group>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            Place Bid
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              favorite
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              bookmark
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          User 2
        </h3>
        <h5 igxCardHeaderSubtitle>
          Auction Live Value
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <igx-input-group type="border" class="input">
          <input type="number" placeholder="0.0" igxInput />
          <label igxLabel>Price</label>
        </igx-input-group>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            Place Bid
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              favorite
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              bookmark
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
    <igx-card [elevated]="true" class="card">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          User 3
        </h3>
        <h5 igxCardHeaderSubtitle>
          Auction Live Value
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <igx-input-group type="border" class="input">
          <input type="number" igxInput />
          <label igxLabel>Price</label>
        </igx-input-group>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="flat" igxRipple class="button">
            Place Bid
          </button>
        </ng-container>
        <ng-container igxEnd>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              favorite
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              bookmark
            </igx-icon>
          </button>
          <button igxRipple igxIconButton="flat" class="icon-button">
            <igx-icon>
              share
            </igx-icon>
          </button>
        </ng-container>
      </igx-card-actions>
    </igx-card>
  </div>
</div>
